<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
<select id = "list_attach" resultType = "String">
	select file_name from attach where board_idx=#{board_idx} order by regdate
</select>
<delete id = "delete_attach">
	delete from attach where file_name=#{file_name}
</delete>
<insert id = "insert">
	insert into board (idx, title, contents, writer) values (board_seq.nextval, #{title}, #{contents}, #{writer})
</insert>
<insert id = "insert_attach">
	insert into attach (file_name, board_idx) values (#{file_name}, board_seq.currval)
</insert>
<insert id = "update_attach">
	insert into attach(file_name, board_idx) values (#{file_name}, #{idx})
</insert>
<select id = "count" resultType = "int">
	select count(*) from board b, member m
	<include refid = "search" />
</select>



<select id = "detail" resultType = "com.spring01.ex.model.board.BoardDTO">
	select idx,title,contents,b.regdate,hit,name,writer
	from board b, member m
	where b.writer=m.useid and idx=#{idx}
</select>
<update id = "increase_hit">
	update board set hit = hit+1 where idx = #{idx}
</update>
<update id = "update">
	update board set title = #{title}, contents=#{contents} where idx = #{idx}
</update>
<delete id = "delete">
	delete from board where idx= #{idx}
</delete>


<sql id = "paging_header">
	select * from (select rownum as rn, A.* from (
</sql>
<sql id = "paging_footer">
		) A
	) where rn between #{start} and #{end} 
</sql>
</mapper>
 